/* Calculator.css */

.app h1 {
  color: #1890ff;
  margin-left: 20px;
}
.calculator {
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
  font-size: 24px;
  padding: 15px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  width: 70px;
  height: 70px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #f2f2f2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.clear {
  background-color: #d4c70c;
  color: #fff;
}

.operator {
  background-color: #24f882;
  color: #fff;
}

.zero {
  width: 150px;
}

.dot {
  margin-right: 10px;
}

.equal {
  height: 150px;
  background-color: #1890ff;
  color: #fff;
}